 <div class="user-details">
  <section id="about">
    <div class="top-relative">
        <h1>About Me</h1>
    </div>
    <br>
   <div class="div-max-width">
  <div class="user-projects">
    <div class="images-right">
      <img alt="mountains" src="{{ "/assets/img/fmri.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Decision Prediction using fMRI Data </h3>
      <ul> 
        <li> FreeSurfer, NiBabel, Python </li>
      </ul>
      <p> Uses segmentation algorithms that can finely parcel the brain to describe neuronal activity. Data from MRI scanners is used to quantitatively measure the delay between unconscious and conscious decision making, then resconstruct subject perspective to determine biological explanations for patient behavior and decisions.</p>
      <a class="project-link" href="https://github.com/philipshih">GitHub</a>
    </div>
  </div>
    </div>
 </section>
