<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <img src="https://scontent.fsac1-1.fna.fbcdn.net/v/t1.0-9/69246649_2535474389850727_3208042761374662656_o.jpg?_nc_cat=106&_nc_oc=AQnAGzUQLNMD417azEQj169hZcrxQA8uNtvok6yw7hkgsGQg3vZt89cLJDOCJm43iLX1-VoFbDtJ8nS76bsxXnty&_nc_ht=scontent.fsac1-1.fna&oh=b0fc342aa1442e97a9bbe3622fb45bb7&oe=5DDAB1B6">
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="#"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="#"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Google Plus" target="_blank" href="#"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="#"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
