 <div class="user-details">
   <div class="top-relative">
     <h1>About Me</h1>
   <div class="contents-right">  
     <p>I'm Philip, a first-year medical student.</p>
     <p>I am currently conducting research on deep brain stimulation effects on the brain through the Morrison Lab at UCSF. I previously conducted research on TIM-Barrel dynamics through the Klinman Group, and led an independent project on machine learning in fMRI imaging through the Undergraduate Lab at Berkeley.</p>
     <p></p>
     </div>
   </div>
