 <div class="user-details">
   <div class="top-relative">
     <h1>About Me</h1>
     </div>
   </div>
   </br>
 <div class="user-projects">
   <div class="images-left">
     <img alt="me" src="{{"/assets/img/IMG_4194.jpeg" | prepend: site.baseurl }}" style = "float:left; padding-right: 50px;"/>
     </div>
   <div class="contents-right">  
     <p>Hi! I'm Philip, a recent UC Berkeley graduate.</p>
     <p>I'm interested in radiation oncology and deep learning in medical imaging and radiation therapy. Previously, I conducted research on TIM-Barrel dynamics through the Klinman Group, and led an independent project on machine learning in fMRI imaging through the Undergraduate Lab at Berkeley. I've also worked as an intern for UC Davis Health, where I took part in a pre-medical program that aims to produce physician-scientists who work towards eliminating health inequities in underserved populations.</p>
     <p>Outside of school, I spend my time playing the piano and producing music. I enjoy listening to R&B, EDM, and classical music, and I'm always looking to discover new artists and genres. I'm also an avid basketball player and fan of the Sacramento Kings.</p>
     </div>
   </div>
