<div class="user-projects">
    <h1> Projects </h1>
   </div>
    <div class="user-projects">
      <div class="images-right">
        <img alt="mountains" src="{{ "/assets/img/fmri.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="contents-left">
        <h3> Decision Prediction using fMRI Data </h3>
        <ul> 
          <li> FreeSurfer, NiBabel, Python </li>
        </ul>
        <p> Uses segmentation algorithms that can finely parcel the brain to describe neuronal activity. Data from MRI scanners is used to quantitatively measure the delay between unconscious and conscious decision making, then resconstruct subject perspective to determine biological explanations for patient behavior and decisions.</p>
        <a class="project-link" href="https://github.com/philipshih">GitHub</a>
      </div>
    </div>
    <div class="user-projects">
      <div class="images-left">
        <img alt="mountains" src="{{ "/assets/img/ehrconverter.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="contents-right">
        <h3> Speech-to-text EHR Converter </h3>
        <ul>
          <li> Python, XML, Java </li>
        </ul>
        <p> Calls Google Cloud Platform’s Speech API to write a speech-to-text solution to automate patient data entry onto Practice Fusion. Capable of recognizing various voice commands and medical terminology.</p>
        <a class="project-link" href="https://github.com/philipshih">GitHub</a>
      </div>
    </div>
